[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "Add a short description here"
authors = ["Your Name <and@email>"]
channels = ["conda-forge", "https://prefix.dev/r-forge/"]
platforms = ["osx-64"]

[tasks]

[target.osx-64.tasks]
rstudio = "open {{ project_name }}.Rproj"
code = "open -a \"Visual Studio Code\" ."

[dependencies]
r-base = "{{ r_version }}"
radian = ">=0.6.12,<0.7"
r-languageserver = ">=0.3.16,<0.4"
r-httpgd = ">=1.3.1,<1.4"

[activation.env]
PIXI_R_LIBS = "$CONDA_PREFIX/lib/R/library"
R_LIBS_USER = "$PIXI_R_LIBS"
R_LIBS = "$PIXI_R_LIBS"
